@{
	Layout = "~/Views/_Layout.cshtml";
}

<nav class="navbar navbar-inverse">
                <div class="container">
                    <div>
                        <ul class="nav navbar-nav">
                            <li><a href="~/User/UserlistShow" class="navbar-brand">UserList</a></li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li><a href="~/User/Create" class="navbar-brand">UserCreator</a></li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li><a href="~/User/UserAuthorization" class="navbar-brand">FullTable</a></li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li><a href="~/Tender/RestfulTenderView" class="navbar-brand">RestTender</a></li>
                        </ul>
                    </div>
                </div>
</nav>
